{% extends 'gps_score_app/base.html' %}

{% block title %}<title>GPS Score 데이터</title>{% endblock title %}

{% block css %}                                    <!-- bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
{% endblock css %}

{% block content %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>COUR_CD_P</th>
            <th>GAME_SID</th>
            <th>CHANGE_CD_P</th>
            <th>CHANGE_CD_N</th>
            <th>CHANGE_CD_A</th>
            <th>CHKIN_NO</th>
            <th>CUST_NM</th>
            <th>COURSE_A</th>
            <th>SCORE_A1</th>
            <th>SCORE_A2</th>
            <th>SCORE_A3</th>
            <th>SCORE_A4</th>
            <th>SCORE_A5</th>
            <th>SCORE_A6</th>
            <th>SCORE_A7</th>
            <th>SCORE_A8</th>
            <th>SCORE_A9</th>
            <th>COURSE_B</th>
            <th>SCORE_B1</th>
            <th>SCORE_B2</th>
            <th>SCORE_B3</th>
            <th>SCORE_B4</th>
            <th>SCORE_B5</th>
            <th>SCORE_B6</th>
            <th>SCORE_B7</th>
            <th>SCORE_B8</th>
            <th>SCORE_B9</th>
            <th>SCORE_TOTAL_A</th>
            <th>SCORE_TOTAL_B</th>
            <th>SCORE_TOTAL</th>
            <th>SCORE_PIC_URL1</th>
            <th>SMS_SEND</th>
            <th>EN_PHONE</th>
        </tr>
    </thead>
    <tbody>
        {% for gps_score_data in gps_score_data_list %}
        <tr>
            <td>{{gps_score_data.COUR_CD_P}}</td>
            <td>{{gps_score_data.GAME_SID}}</td>
            <td>{{gps_score_data.CHANGE_CD_P}}</td>
            <td>{{gps_score_data.CHANGE_CD_N}}</td>
            <td>{{gps_score_data.CHANGE_CD_A}}</td>
            <td>{{gps_score_data.CHKIN_NO}}</td>
            <td>{{gps_score_data.CUST_NM}}</td>
            <td>{{gps_score_data.COURSE_A}}</td>
            <td>{{gps_score_data.SCORE_A1}}</td>
            <td>{{gps_score_data.SCORE_A2}}</td>
            <td>{{gps_score_data.SCORE_A3}}</td>
            <td>{{gps_score_data.SCORE_A4}}</td>
            <td>{{gps_score_data.SCORE_A5}}</td>
            <td>{{gps_score_data.SCORE_A6}}</td>
            <td>{{gps_score_data.SCORE_A7}}</td>
            <td>{{gps_score_data.SCORE_A8}}</td>
            <td>{{gps_score_data.SCORE_A9}}</td>
            <td>{{gps_score_data.COURSE_B}}</td>
            <td>{{gps_score_data.SCORE_B1}}</td>
            <td>{{gps_score_data.SCORE_B2}}</td>
            <td>{{gps_score_data.SCORE_B3}}</td>
            <td>{{gps_score_data.SCORE_B4}}</td>
            <td>{{gps_score_data.SCORE_B5}}</td>
            <td>{{gps_score_data.SCORE_B6}}</td>
            <td>{{gps_score_data.SCORE_B7}}</td>
            <td>{{gps_score_data.SCORE_B8}}</td>
            <td>{{gps_score_data.SCORE_B9}}</td>
            <td>{{gps_score_data.SCORE_TOTAL_A}}</td>
            <td>{{gps_score_data.SCORE_TOTAL_B}}</td>
            <td>{{gps_score_data.SCORE_TOTAL}}</td>
            <td>{{gps_score_data.SCORE_PIC_URL1}}</td>
            <td>{{gps_score_data.SMS_SEND}}</td>
            <td>{{gps_score_data.EN_PHONE}}</td>
        </tr>
        {% endfor %}
        <tr>
    </tbody>
</table>
{% endblock content %}