<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is display gps score</title>
</head>
<body>
<div class="container">
    <h3>{{information}}</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>COUR_NAME</th>
                <th>COUR_NAME_S</th>
                <th>HOLE_NO_01</th>
                <th>HOLE_NO_02</th>
                <th>HOLE_NO_03</th>
                <th>HOLE_NO_04</th>
                <th>HOLE_NO_05</th>
                <th>HOLE_NO_06</th>
                <th>HOLE_NO_07</th>
                <th>HOLE_NO_08</th>
                <th>HOLE_NO_09</th>
                <th>PAR_CNT_01</th>
                <th>PAR_CNT_02</th>
                <th>PAR_CNT_03</th>
                <th>PAR_CNT_04</th>
                <th>PAR_CNT_05</th>
                <th>PAR_CNT_06</th>
                <th>PAR_CNT_07</th>
                <th>PAR_CNT_08</th>
                <th>PAR_CNT_09</th>
            </tr>
        </thead>
        <tbody>
            {% for par_data in par_data_list %}
            <tr>
                <td>{{par_data.COUR_NAME}}</td>
                <td>{{par_data.COUR_NAME_S}}</td>
                <td>{{par_data.HOLE_NO_01}}</td>
                <td>{{par_data.HOLE_NO_02}}</td>
                <td>{{par_data.HOLE_NO_03}}</td>
                <td>{{par_data.HOLE_NO_04}}</td>
                <td>{{par_data.HOLE_NO_05}}</td>
                <td>{{par_data.HOLE_NO_06}}</td>
                <td>{{par_data.HOLE_NO_07}}</td>
                <td>{{par_data.HOLE_NO_08}}</td>
                <td>{{par_data.HOLE_NO_09}}</td>
                <td>{{par_data.PAR_CNT_01}}</td>
                <td>{{par_data.PAR_CNT_02}}</td>
                <td>{{par_data.PAR_CNT_03}}</td>
                <td>{{par_data.PAR_CNT_04}}</td>
                <td>{{par_data.PAR_CNT_05}}</td>
                <td>{{par_data.PAR_CNT_06}}</td>
                <td>{{par_data.PAR_CNT_07}}</td>
                <td>{{par_data.PAR_CNT_08}}</td>
                <td>{{par_data.PAR_CNT_09}}</td>
            </tr>
            {% endfor %}
            <tr>
        </tbody>
    </table>
</div>
</body>
</html>