{% extends 'gps_score_app/base.html' %}

{% block title %}<title>GPS Score 종합 정보</title>{% endblock title %}

{% block css %}                                    <!-- bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<style>
    table, th, td {
        border: 1px solid #bcbcbc;
        text-align:center;
    }

    th {
        color: white;
    }
</style>
{% endblock css %}

{% load static %}

{% block content %}

<table class="table table-striped" style="border: 0px">
    <thead>
        <tr>
            <th style="color:black;text-align:left;border: 2px solid black;border-left: none;border-right: none;border-top: none;">DATE: {{ score_date }}</th>
            <th style="border: 0px" rowspan="2" align="right">
                <img src="http://220.121.130.82:8080/image/static/map_gen_top_title.png" align="right">
            </th>
        </tr>
        <tr style="border: 0px">
            <th style="color:black;text-align:left;border: 2px solid black;border-left: none;border-right: none;border-top: none;">TIME: {{ score_time }} </th>
        </tr>
    </thead>
</table>

<table class="table table-striped" style="border: 0px">
    <thead>
        <tr>
            <th bgcolor="#808080">Course</th>
            <th colspan="10" bgcolor="#0070C0">{{course_A_Name}}</th>
            <th colspan="10" bgcolor="#538235">{{course_B_Name}}</th>
            <th rowspan="2" bgcolor="#FEBF00" style="vertical-align:middle">Total</th>
        </tr>
        <tr>
            <th bgcolor="#808080">Hole</th>
            {% for data in hole_par_A_data_list %}
                <th bgcolor="#0070C0">{{data.HOLE_NO_01}}</th>
                <th bgcolor="#0070C0">{{data.HOLE_NO_02}}</th>
                <th bgcolor="#0070C0">{{data.HOLE_NO_03}}</th>
                <th bgcolor="#0070C0">{{data.HOLE_NO_04}}</th>
                <th bgcolor="#0070C0">{{data.HOLE_NO_05}}</th>
                <th bgcolor="#0070C0">{{data.HOLE_NO_06}}</th>
                <th bgcolor="#0070C0">{{data.HOLE_NO_07}}</th>
                <th bgcolor="#0070C0">{{data.HOLE_NO_08}}</th>
                <th bgcolor="#0070C0">{{data.HOLE_NO_09}}</th>
            {% endfor %}
            <th bgcolor="#0070C0">SUB</th>
            {% for data in hole_par_B_data_list %}
                <th bgcolor="#538235">{{data.HOLE_NO_01}}</th>
                <th bgcolor="#538235">{{data.HOLE_NO_02}}</th>
                <th bgcolor="#538235">{{data.HOLE_NO_03}}</th>
                <th bgcolor="#538235">{{data.HOLE_NO_04}}</th>
                <th bgcolor="#538235">{{data.HOLE_NO_05}}</th>
                <th bgcolor="#538235">{{data.HOLE_NO_06}}</th>
                <th bgcolor="#538235">{{data.HOLE_NO_07}}</th>
                <th bgcolor="#538235">{{data.HOLE_NO_08}}</th>
                <th bgcolor="#538235">{{data.HOLE_NO_09}}</th>
            {% endfor %}
            <th bgcolor="#538235">SUB</th>
        <tr>
            <th bgcolor="#808080">PAR</th>
            {% for data in hole_par_A_data_list %}
                <th bgcolor="#0070C0">{{data.PAR_CNT_01}}</th>
                <th bgcolor="#0070C0">{{data.PAR_CNT_02}}</th>
                <th bgcolor="#0070C0">{{data.PAR_CNT_03}}</th>
                <th bgcolor="#0070C0">{{data.PAR_CNT_04}}</th>
                <th bgcolor="#0070C0">{{data.PAR_CNT_05}}</th>
                <th bgcolor="#0070C0">{{data.PAR_CNT_06}}</th>
                <th bgcolor="#0070C0">{{data.PAR_CNT_07}}</th>
                <th bgcolor="#0070C0">{{data.PAR_CNT_08}}</th>
                <th bgcolor="#0070C0">{{data.PAR_CNT_09}}</th>
            {% endfor %}
            <th bgcolor="#0070C0">{{total_Par_A}}</th>
            {% for data in hole_par_B_data_list %}
                <th bgcolor="#538235">{{data.PAR_CNT_01}}</th>
                <th bgcolor="#538235">{{data.PAR_CNT_02}}</th>
                <th bgcolor="#538235">{{data.PAR_CNT_03}}</th>
                <th bgcolor="#538235">{{data.PAR_CNT_04}}</th>
                <th bgcolor="#538235">{{data.PAR_CNT_05}}</th>
                <th bgcolor="#538235">{{data.PAR_CNT_06}}</th>
                <th bgcolor="#538235">{{data.PAR_CNT_07}}</th>
                <th bgcolor="#538235">{{data.PAR_CNT_08}}</th>
                <th bgcolor="#538235">{{data.PAR_CNT_09}}</th>
            {% endfor %}
            <th bgcolor="#538235">{{total_Par_B}}</th>
            <th bgcolor="#FEBF00">{{total_Par}}</th>
    </thead>
    <tbody>
        </tr>
            {% for data in gps_score_data_list %}
            <tr>
                <td><span style="font-weight:bold;font-size:110%">{{data.CUST_NM}}</span></td>
                <td>{{data.CALC_SCORE_A1}}</td>
                <td>{{data.CALC_SCORE_A2}}</td>
                <td>{{data.CALC_SCORE_A3}}</td>
                <td>{{data.CALC_SCORE_A4}}</td>
                <td>{{data.CALC_SCORE_A5}}</td>
                <td>{{data.CALC_SCORE_A6}}</td>
                <td>{{data.CALC_SCORE_A7}}</td>
                <td>{{data.CALC_SCORE_A8}}</td>
                <td>{{data.CALC_SCORE_A9}}</td>
                <td>{{data.SCORE_TOTAL_A}}</td>
                <td>{{data.CALC_SCORE_B1}}</td>
                <td>{{data.CALC_SCORE_B2}}</td>
                <td>{{data.CALC_SCORE_B3}}</td>
                <td>{{data.CALC_SCORE_B4}}</td>
                <td>{{data.CALC_SCORE_B5}}</td>
                <td>{{data.CALC_SCORE_B6}}</td>
                <td>{{data.CALC_SCORE_B7}}</td>
                <td>{{data.CALC_SCORE_B8}}</td>
                <td>{{data.CALC_SCORE_B9}}</td>
                <td>{{data.SCORE_TOTAL_B}}</td>

                <td>{{data.SCORE_TOTAL}}</td>
            </tr>
            {% endfor %}
        </tr>
    </tbody>
</table>
{% endblock content %}